<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= categoryName %></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1><%= categoryName %></h1>
  
    <% categoryItems.forEach(item => { %>
    <p>
    <li>
        <%= item.name %>: <%= item.price %>
        <%= item.rating %>
        <%= item.details %>
    </li>
    </p>
  <% }) %>

</html>
